body {
 background-size: cover;
 position: relative;
 object-fit: cover;
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 100px;
    left: 1000px;
    background-color: white;
    border-radius: 50%;
    animation: drop 2s 2;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;

}

.backgroundimg {
    background-image: url(../images/1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    position: relative;

}

@keyframes drop {
    0% {
        top: 100px;
        left: 1000px;
    }

    50% {
        background-color: white;
    }

    100% {
        top: 500px;
        left: 400px;
        background-color: transparent;
    }
}

.star2 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 69px;
    left: 300px;
    background-color: white;
    border-radius: 50%;
    animation: drop2 2s 1;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes drop2 {

    0% {
        top: 69px;
        left: 300px;
    }

    50% {
        background-color: white;
    }

    100% {
        top: 365px;
        left: 600px;
        background-color: transparent;
    }
}

.ast {
    margin-left: 500px;
    width:200px;
    height: auto;
    animation-delay: 0s;
    animation: spinner 7s infinite;
    position: absolute;
    animation-timing-function: ease-in-out;
}

@keyframes spinner {

    0% {
      top: auto;
      left: auto;
        transform: rotate(360deg);
    }
}
  

.blackhole {
    width: 300px;
    position: absolute;
    margin-left: 1100px;
    margin-top: 400px;
    position: absolute;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation: hole 4s linear infinite;
}

.travolta {
    width: 300px;
    margin-top: 300px;
}

@keyframes hole {

  from {top: -700px; }
  to {
    top: 100px; rotate: 360deg;
  }
}